<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yao.signin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yao.signin.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          <activity android:name="com.yao.signin.ui.TeacherActivity"
            android:label="@string/teacher">
        </activity>
        <activity android:name="com.yao.signin.ui.StudentActivity"
            android:label="@string/student">
        </activity>
        <activity android:name="com.yao.signin.ui.IntroductionActivity"
            android:label="@string/introduction">
        </activity>
         <activity android:name="com.yao.signin.ui.CaptureActivity"
            android:label="@string/introduction">
        </activity>
    </application>

</manifest>
